.editor {
  --base00: hsl(285, 2%, 18%);
  --base01: hsl(285, 2%, 22%);
  --base02: hsl(285, 2%, 25%);
  --base03: hsl(260, 8%, 45%);

  --base04: hsl(260, 8%, 55%);
  --base05: hsl(60, 25%, 98%);
  --base06: hsl(285, 2%, 30%);

  --base07: hsl(250, 60%, 75%);
  --base08: hsl(344, 100%, 69%);
  --base09: hsl(93, 50%, 70%);
  --base0A: hsl(40, 100%, 70%);

  --base0B: hsl(344, 100%, 69%);
  --base0C: hsl(40, 100%, 70%);
  --base0D: hsl(188, 70%, 70%);
  --base0E: hsl(93, 50%, 70%);
  --base0F: hsl(250, 60%, 75%);


  .CodeMirror {
    background-color: transparent;
    color: var(--base05);
    --fat-cursor-color: var(--base08);

    .CodeMirror-scroll {
      color: var(--base05);
    }
    .CodeMirror-gutters {
      background-color: transparent;
      border-right: 1px solid var(--base01);
    }
    .CodeMirror-linenumber {
      color: var(--base03);
      opacity: 0.8;
    }
    .CodeMirror-selected {
      background-color: color-mix(in srgb, var(--base02), transparent 50%);
    }
    .CodeMirror-focused .CodeMirror-selected {
      background-color: var(--base06);
    }
    .CodeMirror-cursor {
      border-left: 1px solid var(--base05);
    }
    .CodeMirror-matchingbracket,
    .CodeMirror-matchingtag {
      background: var(--base03) !important;
      border-bottom: 1px solid var(--base08) !important;
    }
    .CodeMirror-foldgutter-open:after {
      color: var(--base03);
    }
    .CodeMirror-foldgutter-folded:after {
      color: var(--base03);
    }
    .CodeMirror.over-gutter,
    .CodeMirror-activeline {
      .CodeMirror-foldgutter-open:after {
        color: var(--base03);
      }
    }
    .CodeMirror-activeline-background,
    .CodeMirror-activeline-gutter {
      background-color: color-mix(in srgb, var(--base02), transparent 50%);
    }
    .CodeMirror-foldmarker {
      border-color: var(--base03);
      background-color: var(--base03);
      color: var(--base05);
    }
    .CodeMirror .CodeMirror-linewidget img.inline-widget {
      background: rgba(255, 255, 255, 0.05);
    }
    .CodeMirror-searching {
      background-color: var(--base0C);
      opacity: 0.4;
      &.searching-current-match {
        background-color: var(--base0C);
        opacity: 0.8;
      }
    }
  }
  .cm-quote {
    color: var(--base0F);
    font-style: italic;
  }
  .cm-atom,
  .cm-formatting-list.cm-variable-3 { 
    color: var(--base0C);
  }

  .gfm-codeblock .cm-keyword,
  .cm-formatting-list.cm-variable-2 {
    color: var(--base0B);
  }

  .cm-url,
  .cm-string,
  .cm-string-2,
  .cm-hr {
    color: var(--base09);
  }
  .cm-number,
  .cm-attribute,
  .cm-plus {
    color: var(--base0A);
  }
  .cm-def,
  .cm-property {
    color: var(--base0D);
  }
  /* Checkbox */
  .list-line .cm-property ~ *,
  /* FIXME: Checkbox Line break */
  pre:has(.cm-property) + .list-line-nobullet,
  pre:has(.cm-property) + .list-line-nobullet + .list-line-nobullet,
  pre:has(.cm-property) + .list-line-nobullet + .list-line-nobullet + .list-line-nobullet,
  pre:has(.cm-property) + .list-line-nobullet + .list-line-nobullet + .list-line-nobullet + .list-line-nobullet,
  pre:has(.cm-property) + .list-line-nobullet + .list-line-nobullet + .list-line-nobullet + .list-line-nobullet + .list-line-nobullet,
  /* FIXME: Checkbox when line number is enabled Line break */
  div:has(.cm-property) + div:has(.list-line-nobullet) > .list-line-nobullet,
  div:has(.cm-property) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) > .list-line-nobullet,
  div:has(.cm-property) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) > .list-line-nobullet,
  div:has(.cm-property) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) > .list-line-nobullet,
  div:has(.cm-property) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) + div:has(.list-line-nobullet) > .list-line-nobullet {
    opacity: 0.5;
  }
  .cm-variable {
      color: var(--base0D);
  }
  .cm-operator,
  .cm-meta,
  .cm-bracket {
      color: var(--base0E);
  }
  .cm-comment {
      color: var(--base03);
      font-style: italic;
  }
  .cm-error,
  .cm-minus {
      color: var(--base0B);
  }
  .cm-formatting-header {
      opacity: 0.4;
  }
  .cm-header {
      color: var(--base0A);
  }
  .cm-link {
      color: var(--base0D);
      text-underline-position: under;
  }
  .cm-rangeinfo {
      color: var(--base0C);
  }
  .cm-qualifier,
  .cm-builtin,
  .cm-tag {
      color: var(--base08);
  }
  .cm-whitespace::before {
      color: var(--base03);
      opacity: 0.4;
  }
  .cm-formatting-quote,
  .cm-formatting-strong,
  .cm-formatting-em {
      opacity: 0.6;
  }
  .cm-strong {
      color: var(--base0B);
  }
  .cm-em {
      color: var(--base0C);
  }

  .CodeMirror-code > div > pre > span::after,
  .CodeMirror-line > span::after {
      color: var(--base00);
      opacity: 0.4;
  }
  .cm-inline-code {
      background: rgba(255, 255, 255, 0.05);
      color: var(--base05);
  }
  .gfm-codeblock-bg.CodeMirror-linebackground {
      background: rgba(255, 255, 255, 0.03);
  }
  .cm-table-sep,
  .table-row.table-row-1 {
      color: var(--base0E);
  }
  .cm-quote.cm-link-barelink {
      font-style: normal;
      color: var(--base0D);
  }
}
